<link rel="stylesheet" type="text/css" href="path/to/your/bootstrap.css">

<div id="flash-message">
    {{#if message.error}}
        <div class="alert alert-danger">{{message.error}}</div>
    {{else}}
        <div class="alert alert-success">{{message.success}}</div>
    {{/if}}
</div>
