<footer class="site-footer">
    <a href="https://www.instagram.com/nooelan/" >
        <img src="/public/images/logo-ig-instagram-icon-download-icons-12.png" class="left-image-footer">
    </a>
    <h3 class="text-footer">Noel Andolz Aguado &copy;</h3>
    <a href="https://www.instagram.com/nooelan/" >
        <img src="/public/images/logo-ig-instagram-icon-download-icons-12.png" class="right-image-footer">
    </a>
</footer>