<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>TOS and Privacy Rules</title>
</head>

<header>
    <br>
    <h1> SoccerTube</h1>
    <br>
    <a href="index.hbs"><font color="#000000" size="5%">Home</font></a>
    <br>
    <a href="login.html"><font color="#000000" size="5%">Login</font></a>
    <br>
    <a href="registration.hbs"><font color="#000000" size="5%">Register</font></a>
    <br>
    <a href="postvideo.hbs"><font color="#000000" size="5%">Post</font></a>
    <br>
    <a href="viewpost.hbs"><font color="#000000" size="5%">View</font></a>
    <br>
    <a href="profile.hbs"><font color="#000000" size="5%">Profile</font></a>
    <br>
</header>


<body>
<h1>
  TOS and Privacy Rules here
</h1>
</body>


<footer>
    <br>
    <br>
    <h3>Noel Andolz Aguado &copy;</h3>
</footer>
</html>