
<main id="main-content">
    <div class="product-count-box">
        <h1 class="product-count"  >Number of items: </h1>
        <h1 class="product-count"  id="myCounter" ></h1>
    </div>
    <div id="product-list" class="product-list">
    </div>
</main>