<main>

    <h2>WELCOME TO THE LOGIN SECTION:</h2>

    <h3 class="second-header" >LOG IN</h3>
        <form action="/users/login" class="text-groupping" method="POST"
              enctype="application/x-www-form-urlencoded">
            <div class="input-group">
                <label for="username">Username: </label>
                <input type="text" name="username" id="username" placeholder="Username">
            </div>
            <div class="input-group">
                <label for="password">Password:  </label>
                <input type="password" name="password" id="password" placeholder="Password">
            </div>
            <div>
                <input type="submit" value="Log in" class="button">
            </div>
            <div>
                <p>Do not have an account? <a href="/registration"><font color="#000000" size="4%" class="with-underline">Register Here</font></a></p>
            </div>

        </form>
</main>