<main>
    <img src="/public/images/user-icon.png" class="profile-pic">
    <h2 class="profile-username">
        {{user.username}}
    </h2>

    <h3 class="email">
        {{user.email}}
    </h3>

    <div class="layout">
        <div class="c1">
            <a href="viewpost.hbs" >
                <img src="/public/images/messi.jpg"><a href="viewpost.hbs" ></a>
            </a>
        </div>
        <div class="c2">
            <a href="viewpost.hbs">
                <h3>
                    <font color="black">
                        Video 1: Best goals from Messi
                    </font>
                </h3>
            </a>
        </div>
        <div class="c3">
            <a href="viewpost.hbs">
                <img src="/public/images/messi.jpg"><a href="viewpost.hbs"></a>
            </a>
        </div>
        <div class="c4">
            <a href="viewpost.hbs">
                <h3>
                    <font color="black">
                        Video 2: Best goals from Messi
                    </font>
                </h3>
            </a>
        </div>
        <div class="c5">
            <a href="viewpost.hbs">
                <img src="/public/images/messi.jpg"><a href="viewpost.hbs"></a>
            </a>
        </div>
        <div class="c6">
            <a href="viewpost.hbs">
                <h3>
                    <font color="black">
                        Video 3: Best goals from Messi
                    </font>
                </h3>
            </a>
        </div>

    </div>

</main>
