<main>
    <h2>WELCOME TO THE VIEW POST SECTION</h2>
    <div class="divider">
        <div>
            <h3 class="video-title"><cite>Best goals from Messi</cite></h3>
            <div>
                <video autoplay controls><source src="/public/images/Lionel Messi - Great Goals of The GOAT - HD.mp4" type="video/mp4"></video>
            </div>

            <div class="grid-container">
                <div class="item1">
                    <img src="/public/images/user-icon.png" class="user-icon">
                </div>
                <div class="item2">By nooelan</div>
                <div class="item3">Uploaded: 02/26/2023 - 13:31</div>
                <div class="item4"></div>
                <div class="item5"></div>
                <div class="item6">Likes</div>
                <div class="item7">Dislikes</div>
                <div class="item8">100</div>
                <div class="item9">7</div>
            </div>
        </div>
        <div class="right-section">

                <div class="c1">
                    <a href="viewpost.html" >
                        <img src="/public/images/messi.jpg"><a href="viewpost.html" ></a>
                    </a>
                </div>
                <div class="c2">
                    <a href="viewpost.html">
                        <h3>
                            <font color="black">
                                Video 1: Best goals from Messi
                            </font>
                        </h3>
                    </a>
                </div>
                <div class="c3">
                    <a href="viewpost.html">
                        <img src="/public/images/messi.jpg"><a href="viewpost.html"></a>
                    </a>
                </div>
                <div class="c4">
                    <a href="viewpost.html">
                        <h3>
                            <font color="black">
                                Video 2: Best goals from Messi
                            </font>
                        </h3>
                    </a>
                </div>
                <div class="c5">
                    <a href="viewpost.html">
                        <img src="/public/images/messi.jpg"><a href="viewpost.html"></a>
                    </a>
                </div>
                <div class="c6">
                    <a href="viewpost.html">
                        <h3>
                            <font color="black">
                                Video 3: Best goals from Messi
                            </font>
                        </h3>
                    </a>
                </div>
            <div class="c7">
                <a href="viewpost.html">
                    <img src="/public/images/messi.jpg"><a href="viewpost.html"></a>
                </a>
            </div>
            <div class="c8">
                <a href="viewpost.html">
                    <h3>
                        <font color="black">
                            Video 4: Best goals from Messi
                        </font>
                    </h3>
                </a>
            </div>
        </div>

    </div>


    <div class="comments-grid-container">
        <div class="item10">
            <h3>Comment section:</h3>
        </div>
        <div class="item11">
            <h3>No comments yet</h3>
        </div>
    </div>

    <div class="add-comments-grid-container">
        <div class="item12">
            <h3>Add a comment</h3>
        </div>
        <div class="item13">
            <textarea id="center" placeholder="Add a comment"></textarea>
        </div>
        <div class="item14">
            <input type="submit" value="Submit Comment">
        </div>
    </div>


</main>
